 <h1><%= @genre.name %></h1>
  <div class="row">
   <div class="col-md-8">
     <% @genre.tales.each do |tale| %>
       <div class="media">
        <% if tale.isPublic? ||  current_user == tale.user %>
        <%= render partial: 'votes/voting', locals: { tale: tale } %>
        <% end %>
         <div class="media-body">
           <div>
             <h4 class="media-heading">
               <% if tale.isPublic? || current_user == tale.user %>
               <%= link_to tale.title, genre_tale_path(@genre, tale) %>
             </h4>
           <small>
             submitted <%= time_ago_in_words(tale.created_at) %> ago by <%= link_to tale.user.name, profile_path(tale.user.id) %> <br>
             This story contains <%= tale.count %> words <br> <%= tale.comments.count %> Comments
             <% end %>
           </small>
           </div>  
         </div>
       </div>
     <% end %>
   </div>
   <% if current_user != nil %>
   <% if current_user.author? %>
   <div class="col-md-4">
     <%= link_to "New Story", new_genre_tale_path(@genre), class: 'btn btn-success' %>
   </div>
   <% end %>
   <% end %>
 </div>