     <div class="headers">
        <% if user_signed_in? %>
           <%= image_tag current_user.avatar_url(current_user), :class => 'navbar-link' %> <%= link_to "Home", welcome_index_path, :class => 'navbar-linkl' %> <strong class='navbar-link'>Signed in as: <%= current_user.name %></strong>
           <%= link_to 'Your Profile', profile_path(current_user), :class => 'navbar-link' %> <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> <%= link_to "About", about_path, :class => 'navbar-linkl'  %> <%= link_to "FAQ", faq_path, :class => 'navbar-linkl' %>
       <% else %>
            <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %>  <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %> <%= link_to "Home", welcome_index_path, :class => 'navbar-linkl' %> <%= link_to "About", about_path, :class => 'navbar-linkl'  %> <%= link_to "FAQ", faq_path, :class => 'navbar-linkl' %> 
      <% end %>
      </div>
  <div class="jumbotron home">
   <h1>Story Time</h1>
   <p>The best place on the internet to read and share stories!</p>
   <p>
      <br>
      <%= link_to "Comedy", genre_path(1), :class => 'navbar-link'  %> <%= link_to "Fantasy", genre_path(2), :class => 'navbar-link'  %> <%= link_to "Historical Fiction", genre_path(3), :class => 'navbar-link'  %> <%= link_to "Horror", genre_path(4), :class => 'navbar-link'  %> <%= link_to "Mystery", genre_path(5), :class => 'navbar-link'  %> <%= link_to "Mythology", genre_path(6), :class => 'navbar-link'  %> <%= link_to "Nonfiction", genre_path(7), :class => 'navbar-link'  %> <%= link_to "R-rated", genre_path(8), :class => 'navbar-link'  %> <%= link_to "Realistic Fiction", genre_path(9), :class => 'navbar-link'  %> <%= link_to "Romance", genre_path(10), :class => 'navbar-link'  %> <%= link_to "Satire", genre_path(11), :class => 'navbar-link'  %> <%= link_to "Science Fiction", genre_path(12), :class => 'navbar-link'  %> <%= link_to "Tragedy", genre_path(13), :class => 'navbar-link'  %> 
   </p>
 </div>
 </div>
 <div class="main">
 <div>
 <% if current_user != nil %>
 <%= render partial: 'votes/voting', locals: { tale: @tale } %>
 <% end %>
 <h1><%= @tale.title %> <br>
    <small>
     authored by <%= link_to @tale.user.name, profile_path(@tale.user.id) %>
   </small>
   </h1>
 </div>
 <div class="row">
   <div class="col-md-8">
     <p><%= simple_format(@tale.body) %></p>
     <div>
       <h3>Comments</h3>
       <%= render @tale.comments %>
     </div>
     <% if current_user %>
       <%= render 'comments/form', comment: Comment.new, tale: @tale %>
     <% end %>
   </div>
   <% if current_user == @tale.user && current_user.author? %>
   <div class="col-md-4">
     <%= link_to "Edit", edit_genre_tale_path(@tale.genre, @tale), class: 'btn btn-success' %>
     <%= link_to "Delete Story", [@tale.genre, @tale], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete your story?'} %>
   </div>
   <% end %>
      <div class="col-md-4">
     <h3>
       <%= pluralize(@tale.points, 'point') %>
       <div>
         <small>
           <%= pluralize(@tale.up_votes, 'up vote') %>,
           <%= pluralize(@tale.down_votes, 'down vote') %>
         </small>
       </div>
     </h3>
     <% if current_user %>
       <%= render partial: 'favorites/favorite', locals: { tale: @tale } %>
     <% end %>
   </div>
 </div>
 </div>