<%= render partial: 'layouts/header' %>
 <div class="main">
 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(@user)%>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
       </div>
     </div>
   </div>
 </div>
 

 <h2>Stories</h2>
    <% @user.tales.each do |tale| %>
        <h4 class="media-heading">
            <% if tale.isPublic? || current_user == tale.user %>
               <%= link_to tale.title, genre_tale_path(@genre, tale) %>
        </h4>
        <small>
                 submitted <%= time_ago_in_words(tale.created_at) %> ago<br>
                 This story contains <%= tale.count %> words <br> <%= tale.comments.count %> Comments <br>
             <% end %>
        </small>
    <% end %>

 